In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df=pd.read_csv('tratamiento.csv',sep=';')

In [5]:
df

    Nombre Sexo empresa1  empresa2
0     Juan    M        -         4
1     Luis    M       23         5
2    Maria    F       12        66
3    Kenny    F       34        54
4     John    M       10        32
5   Daniel    M       15        23
6    Carla    F       23        12
7  Mariana    F        -        43
8  Mariana    F        -        43

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
Nombre      9 non-null object
Sexo        9 non-null object
empresa1    9 non-null object
empresa2    9 non-null int64
dtypes: int64(1), object(3)
memory usage: 220.0+ bytes

In [7]:
df['Sexo']=df['Sexo'].astype('category')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
Nombre      9 non-null object
Sexo        9 non-null category
empresa1    9 non-null object
empresa2    9 non-null int64
dtypes: category(1), int64(1), object(2)
memory usage: 249.0+ bytes

In [10]:
df['empresa1']=pd.to_numeric(df['empresa1'],errors='coerce')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
Nombre      9 non-null object
Sexo        9 non-null category
empresa1    6 non-null float64
empresa2    9 non-null int64
dtypes: category(1), float64(1), int64(1), object(1)
memory usage: 285.0+ bytes

In [12]:
df

    Nombre Sexo  empresa1  empresa2
0     Juan    M       NaN         4
1     Luis    M      23.0         5
2    Maria    F      12.0        66
3    Kenny    F      34.0        54
4     John    M      10.0        32
5   Daniel    M      15.0        23
6    Carla    F      23.0        12
7  Mariana    F       NaN        43
8  Mariana    F       NaN        43

In [13]:
df_dup=df.drop_duplicates()

In [14]:
df_dup

    Nombre Sexo  empresa1  empresa2
0     Juan    M       NaN         4
1     Luis    M      23.0         5
2    Maria    F      12.0        66
3    Kenny    F      34.0        54
4     John    M      10.0        32
5   Daniel    M      15.0        23
6    Carla    F      23.0        12
7  Mariana    F       NaN        43

In [15]:
propinas_nan=pd.read_csv('propinas.csv',sep=',')

In [16]:
propinas_nan

     total_cuenta  propina          sex fumador      dia   tiempo cantidad
0           16.99     1.01     Femenino      No   Sabado     Cena        2
1             NaN     1.66    Masculino      No   Sabado     Cena        3
2           21.01     3.50    Masculino      No   Sabado     Cena        3
3           23.68      NaN    Masculino      No   Sabado     Cena        2
4           24.59     3.61          NaN      No   Sabado     Cena        4
5           25.29     4.71    Masculino      No   Sabado     Cena        4
6            8.77     2.00    Masculino      No   Sabado     Cena        2
7           26.88     3.12    Masculino      No   Sabado     Cena        4
8           15.04     1.96    Masculino      No   Sabado     Cena        2
9           14.78     3.23    Masculino      No   Sabado     Cena        2
10          10.27     1.71    Masculino      No   Sabado     Cena        2
11          35.26     5.00     Femenino      No   Sabado     Cena        4
12          15.42     1.57    Masculino      No   Sabado     Cena        2
13          18.43     3.00    Masculino      No   Sabado     Cena        4
14          14.83     3.02     Femenino      No   Sabado     Cena        2
15          21.58     3.92    Masculino      No   Sabado     Cena        2
16          10.33     1.67     Femenino      No   Sabado     Cena        3
17          16.29     3.71    Masculino      No   Sabado     Cena        3
18          16.97     3.50     Femenino      No   Sabado     Cena        3
19          20.65     3.35    Masculino      No  Domingo     Cena        3
20          17.92     4.08    Masculino      No  Domingo     Cena        2
21          20.29     2.75     Femenino      No  Domingo     Cena        2
22          15.77     2.23     Femenino      No  Domingo     Cena        2
23          39.42     7.58    Masculino      No  Domingo     Cena        4
24          19.82     3.18    Masculino      No  Domingo     Cena        2
25          17.81     2.34    Masculino      No  Domingo     Cena        4
26          13.37     2.00    Masculino      No  Domingo     Cena        2
27          12.69     2.00    Masculino      No  Domingo     Cena        2
28          21.70     4.30    Masculino      No  Domingo     Cena        2
29          19.65     3.00     Femenino      No  Domingo     Cena        2
..            ...      ...          ...     ...      ...      ...      ...
274         28.17     6.50     Femenino      Si  Domingo     Cena        3
275           NaN     1.10     Femenino      Si  Domingo     Cena        2
276         28.15     3.00    Masculino      Si  Domingo     Cena        5
277         11.59     1.50    Masculino      Si  Domingo     Cena        2
278          7.74     1.44    Masculino      Si  Domingo     Cena      NaN
279         30.14     3.09     Femenino      Si  Domingo     Cena        4
280         12.16     2.20    Masculino      Si  Viernes   Lonche        2
281         13.42     3.48     Femenino     NaN  Viernes   Lonche        2
282           NaN     1.92    Masculino      Si  Viernes   Lonche        1
283         15.98     3.00     Femenino     NaN  Viernes   Lonche        3
284           NaN     1.58    Masculino      Si  Viernes   Lonche        2
285         16.27      NaN     Femenino      Si  Viernes   Lonche        2
286         10.09     2.00     Femenino      Si  Viernes   Lonche        2
287         20.45     3.00    Masculino      No  Domingo     Cena        4
288         13.28     2.72    Masculino      No  Domingo     Cena        2
289         22.12     2.88     Femenino      Si  Domingo     Cena        2
290         24.01     2.00    Masculino      Si  Domingo     Cena        4
291         15.69     3.00    Masculino      Si  Domingo     Cena        3
292           NaN     3.39    Masculino      No  Domingo     Cena        2
293         10.77     1.47    Masculino      No  Domingo     Cena        2
294         15.53     3.00    Masculino      Si  Domingo     Cena        2
295           NaN     1.25    Masculino      No  Domingo     Cena        2
296         12.60     1.00    Masculino      Si  Domingo     Cena        2
297         32.83      NaN    Masculino      Si  Domingo  missing        2
298         35.83     4.67     Femenino      No  Domingo     Cena        3
299         29.03     5.92    Masculino      No  Domingo     Cena      NaN
300         27.18     2.00     Femenino      Si  Domingo     Cena        2
301         22.67     2.00    Masculino      Si  Domingo     Cena        2
302         82.00    75.00     Femenino          Domingo     Cena  missing
303         78.00     3.00     Femenino           Sabado     Cena        2

[304 rows x 7 columns]

In [18]:
propinas_drop=propinas_nan.dropna()

In [19]:
propinas_drop.head(10)

    total_cuenta  propina        sex fumador     dia tiempo cantidad
0          16.99     1.01   Femenino      No  Sabado   Cena        2
2          21.01     3.50  Masculino      No  Sabado   Cena        3
5          25.29     4.71  Masculino      No  Sabado   Cena        4
6           8.77     2.00  Masculino      No  Sabado   Cena        2
7          26.88     3.12  Masculino      No  Sabado   Cena        4
8          15.04     1.96  Masculino      No  Sabado   Cena        2
9          14.78     3.23  Masculino      No  Sabado   Cena        2
10         10.27     1.71  Masculino      No  Sabado   Cena        2
11         35.26     5.00   Femenino      No  Sabado   Cena        4
12         15.42     1.57  Masculino      No  Sabado   Cena        2

In [20]:
propinas_nan['sex']=propinas_nan['sex'].fillna('missing')

In [21]:
propinas_nan.head()

   total_cuenta  propina        sex fumador     dia tiempo cantidad
0         16.99     1.01   Femenino      No  Sabado   Cena        2
1           NaN     1.66  Masculino      No  Sabado   Cena        3
2         21.01     3.50  Masculino      No  Sabado   Cena        3
3         23.68      NaN  Masculino      No  Sabado   Cena        2
4         24.59     3.61    missing      No  Sabado   Cena        4

In [22]:
propinas_nan[['total_cuenta','cantidad']]=propinas_nan[['total_cuenta','cantidad']].fillna(0)

In [23]:
propinas_nan

     total_cuenta  propina          sex fumador      dia   tiempo cantidad
0           16.99     1.01     Femenino      No   Sabado     Cena        2
1            0.00     1.66    Masculino      No   Sabado     Cena        3
2           21.01     3.50    Masculino      No   Sabado     Cena        3
3           23.68      NaN    Masculino      No   Sabado     Cena        2
4           24.59     3.61      missing      No   Sabado     Cena        4
5           25.29     4.71    Masculino      No   Sabado     Cena        4
6            8.77     2.00    Masculino      No   Sabado     Cena        2
7           26.88     3.12    Masculino      No   Sabado     Cena        4
8           15.04     1.96    Masculino      No   Sabado     Cena        2
9           14.78     3.23    Masculino      No   Sabado     Cena        2
10          10.27     1.71    Masculino      No   Sabado     Cena        2
11          35.26     5.00     Femenino      No   Sabado     Cena        4
12          15.42     1.57    Masculino      No   Sabado     Cena        2
13          18.43     3.00    Masculino      No   Sabado     Cena        4
14          14.83     3.02     Femenino      No   Sabado     Cena        2
15          21.58     3.92    Masculino      No   Sabado     Cena        2
16          10.33     1.67     Femenino      No   Sabado     Cena        3
17          16.29     3.71    Masculino      No   Sabado     Cena        3
18          16.97     3.50     Femenino      No   Sabado     Cena        3
19          20.65     3.35    Masculino      No  Domingo     Cena        3
20          17.92     4.08    Masculino      No  Domingo     Cena        2
21          20.29     2.75     Femenino      No  Domingo     Cena        2
22          15.77     2.23     Femenino      No  Domingo     Cena        2
23          39.42     7.58    Masculino      No  Domingo     Cena        4
24          19.82     3.18    Masculino      No  Domingo     Cena        2
25          17.81     2.34    Masculino      No  Domingo     Cena        4
26          13.37     2.00    Masculino      No  Domingo     Cena        2
27          12.69     2.00    Masculino      No  Domingo     Cena        2
28          21.70     4.30    Masculino      No  Domingo     Cena        2
29          19.65     3.00     Femenino      No  Domingo     Cena        2
..            ...      ...          ...     ...      ...      ...      ...
274         28.17     6.50     Femenino      Si  Domingo     Cena        3
275          0.00     1.10     Femenino      Si  Domingo     Cena        2
276         28.15     3.00    Masculino      Si  Domingo     Cena        5
277         11.59     1.50    Masculino      Si  Domingo     Cena        2
278          7.74     1.44    Masculino      Si  Domingo     Cena        0
279         30.14     3.09     Femenino      Si  Domingo     Cena        4
280         12.16     2.20    Masculino      Si  Viernes   Lonche        2
281         13.42     3.48     Femenino     NaN  Viernes   Lonche        2
282          0.00     1.92    Masculino      Si  Viernes   Lonche        1
283         15.98     3.00     Femenino     NaN  Viernes   Lonche        3
284          0.00     1.58    Masculino      Si  Viernes   Lonche        2
285         16.27      NaN     Femenino      Si  Viernes   Lonche        2
286         10.09     2.00     Femenino      Si  Viernes   Lonche        2
287         20.45     3.00    Masculino      No  Domingo     Cena        4
288         13.28     2.72    Masculino      No  Domingo     Cena        2
289         22.12     2.88     Femenino      Si  Domingo     Cena        2
290         24.01     2.00    Masculino      Si  Domingo     Cena        4
291         15.69     3.00    Masculino      Si  Domingo     Cena        3
292          0.00     3.39    Masculino      No  Domingo     Cena        2
293         10.77     1.47    Masculino      No  Domingo     Cena        2
294         15.53     3.00    Masculino      Si  Domingo     Cena        2
295          0.00     1.25    Masculino      No  Domingo     Cena        2
296         12.60     1.00    Masculino      Si  Domingo     Cena        2
297         32.83      NaN    Masculino      Si  Domingo  missing        2
298         35.83     4.67     Femenino      No  Domingo     Cena        3
299         29.03     5.92    Masculino      No  Domingo     Cena        0
300         27.18     2.00     Femenino      Si  Domingo     Cena        2
301         22.67     2.00    Masculino      Si  Domingo     Cena        2
302         82.00    75.00     Femenino          Domingo     Cena  missing
303         78.00     3.00     Femenino           Sabado     Cena        2

[304 rows x 7 columns]

In [24]:
mean_value=propinas_nan['propina'].mean()

In [25]:
mean_value

3.2143478260869567

In [27]:
propinas_nan['propina']=propinas_nan['propina'].fillna(mean_value)

In [28]:
propinas_nan.head()

   total_cuenta   propina        sex fumador     dia tiempo cantidad
0         16.99  1.010000   Femenino      No  Sabado   Cena        2
1          0.00  1.660000  Masculino      No  Sabado   Cena        3
2         21.01  3.500000  Masculino      No  Sabado   Cena        3
3         23.68  3.214348  Masculino      No  Sabado   Cena        2
4         24.59  3.610000    missing      No  Sabado   Cena        4